.signup-div {
  width: 100%;
  background: #d5d8d9;
  padding-top: 5rem;
  display: flex;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  padding: 20px;
  color: black;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 800px;
  border: 1px solid black;
  border-radius: 20px;
}

.error {
  color: #ff0000; /* Red color for the error text */
  font-size: 8px; /* Adjust the font size as needed */
  margin-top: 2px; /* Add a small margin at the top for spacing */
}

.form input {
  width: 80%;
  height: 30px;
  background-color: #e2e8f0;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.buttons {
  width: 70%;
  height: 40px;
  background-color: #00b4d8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.orText {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.googleSignin {
  border: 1px solid #4db4ff;
  border-radius: 20px;
  padding: 10px;
  width: 33%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.googleSignin img {
  height: 20px;
}

/* .socialLoginButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.socialLoginButton {
  cursor: pointer;
}

.socialLoginButtonIcon {
  height: 100px;
} */
