.nav-div {
  width: auto;
  height: 10px;
  display: flex;
  border: 2px solid #f9fcfd;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #ecf8fb, #f9fcfd);
  padding: 2rem;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 400;
}

.signin-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signin-div p {
  margin: 0 1rem;
  text-decoration: none;
  color: #17bbdb;
  font-weight: 500;
}

.small-navbar {
  display: none;
}

.small-navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #ecf8fb, #f9fcfd);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.small-navbar-overlay .overlay__close {
  font-size: 27px;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.small-navbar-overlay-links {
  list-style: none;
}
.small-navbar-overlay-links li {
  margin: 2rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .navbar-links {
    display: none;
  }

  .small-navbar {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .signin-div {
    display: none;
  }
}
